/* ver https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --color-fondo: #e5effa;
    --color-texto: #143057;
    --color-bg-primario: #00ace6;
    --color-txt-primario: #ffffff;
    --color-error: #d92727;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--color-texto);
    font-size: 16px;

    /* https://cssgradient.io/ */
    background: var(--color-fondo);
    background: linear-gradient(0deg, var(--color-fondo) 5%, #e6eaf0 95%);
    height: 100dvh;
}

body.loading > * {
    display: none;
}

input {
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-bottom: solid 1px var(--color-bg-primario);
    border-radius: 8px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .1);
    outline-color: var(--color-bg-primario);
    padding: 7px 14px;
}

input[type="submit"] {
    box-shadow: none;
    background-color: var(--color-bg-primario);
    color: var(--color-txt-primario);
    padding: 8px 32px;
}

header {
    background-color: var(--color-bg-primario);
    color: var(--color-txt-primario);
    box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

header nav {
    display: flex;
    align-items: center;
    padding: 6px 20px;
    gap: 1em;
}

header nav a {
    color: inherit;
    text-decoration: none;
    border-bottom: solid 5px transparent;
    padding: 0.5em;
}

header nav a.current {
    border-bottom-color: white;
}

#welcome {
    background-color: white;
    color: var(--color-texto);
    padding: 6px 20px;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1em
}

#welcome button {
    font-family: inherit;
    font-size: inherit;
    border: solid 1px var(--color-texto);
    color: var(--color-texto);
    background-color: white;
    border-radius: 8px;
    padding: 7px 14px;
    cursor: pointer;
}

#welcome button:hover {
    color: white;
    background-color: var(--color-texto);
}